body {
    font-family:"PT Sans";
}

ul[role="tree"] li {
    list-style-type: none;
}

.toggle, .toggle:after {
    height: 8px;
    width: 8px;
}

.toggle:after {
    content: "+";
    position: absolute;
    text-align: center;
    line-height: 8px;
}

.toggle {
    border: 1px solid #999999;
    display: inline-block;
    cursor: pointer;
}