body {
    font-family:"PT Sans";
}

ul[role="tree"] li {
    list-style-type: none;
}

.toggle, .toggle:after {
    height: 8px;
    width: 8px;
}

.toggle {
    border: 1px solid #999999;
    display: inline-block;
    cursor: pointer;
}

.toggle:after {
    position: absolute;
    text-align: center;
    line-height: 8px;
}

li[aria-expanded="false"] > .toggle:after {
    content: "+";
}

li[aria-expanded="true"] > .toggle:after {
    content: "-";
}

li:focus {
    border:solid 1px #550000;
}

li[aria-expanded="false"] > ul {
    display:none;
}

li[aria-expanded="true"] > ul {
    display:block;
}